<!---Edit License-->
    <aside class="update" id="update-application">
    <div class="chat__header px-4">
      <h2 class="chat__title mb-3">Update License <small>Edit all the field to update application</small></h2>
    </div>
    <div class="scrollbar-inner">
      <div class="px-4 pt-1 height-100150">
      <!---Enter form partial here-->
      <%= render partial: 'form' %>

       </div>
    </div>
    <a href="messages.html" class="btn btn--action btn-danger d-none"><i class="zmdi zmdi-plus"></i></a> </aside>
	